.header-div {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Spartan', sans-serif;
}

.logo {
    height: 90px;
    margin: 10px 0;
}

.header-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-link {
    padding: 10px 20px;    
    background-color: #fcce3b;
    color: #343434;
    letter-spacing: 1.17px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.header-link:hover {
    color: white;
    background-color: #091748;
}